<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/courseInstructor.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="navigation">
      <ul>
        <li>
          <a href="/dashboared-Home">
            <span class="icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#000000"
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              >
                <path
                  d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 11 21 L 11 15 L 13 15 L 13 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z M 12 4.7910156 L 18 10.191406 L 18 11 L 18 19 L 15 19 L 15 13 L 9 13 L 9 19 L 6 19 L 6 10.191406 L 12 4.7910156 z"
                /></svg
            ></span>
            <span class="title">HOME</span>
          </a>
        </li>
        <li>
          <a href="/inbox-instructor">
            <span class="icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Layer_1"
                x="0px"
                y="0px"
                viewBox="0 0 122.88 122.39"
                style="enable-background: new 0 0 122.88 122.39"
                xml:space="preserve"
              >
                <style type="text/css">
                  <![CDATA[
                                    .st0{fill-rule:evenodd;clip-rule:evenodd;}
                              ]]>
                </style>
                <g>
                  <path
                    class="st0"
                    d="M4.59,122.39h113.7c2.52,0,4.59-2.08,4.59-4.63l-0.11-36.56c-0.01-2.49-0.36-3.78-1.26-6.11l-17.93-61.16 c-0.81-2.12-1.86-4.12-4.12-4.12H85.71v14.66h6.5l16.19,53.89l0,0H84.5l-10.91,14.7H49.38l-11-14.7H14.3l16.87-53.89h6V9.8H24.22 c-2.27,0-3.28,2.02-4.12,4.12L1.15,75.86c-0.91,2.28-1,3.58-1.01,6.06L0,117.76C0,120.31,2.07,122.39,4.59,122.39L4.59,122.39 L4.59,122.39z M52.74,0h17.41v37.46h14L61.46,63.47L38.73,37.46h14V0L52.74,0L52.74,0z"
                  />
                </g></svg
            ></span>
            <span class="title">INBOX</span>
          </a>
        </li>
        <li>
          <a href="/html/help.html">
            <span class="icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                id="Layer_1"
                data-name="Layer 1"
                viewBox="0 0 122.88 112.92"
              >
                <title>headset</title>
                <path
                  d="M15.31,87.55a20.54,20.54,0,0,0,1.23,4.65,12.43,12.43,0,0,0,2.75,4.26c3.88,3.85,8.92,3.84,14.44,3.84v0h2.62c2.27-3.27,7.6-5.56,13.8-5.56,8.27,0,15,4.07,15,9.1s-6.71,9.1-15,9.1c-6.07,0-11.3-2.2-13.65-5.36H33.73c-7.08,0-13.55,0-19.55-5.94A19.78,19.78,0,0,1,9.8,94.93,28.6,28.6,0,0,1,8,87.55a8.2,8.2,0,0,1-8-8.18V49.87a8.2,8.2,0,0,1,8.18-8.18h.58c1.48-15.15,11-27,23.87-34.09A61.85,61.85,0,0,1,57.37.2,58.06,58.06,0,0,1,83.32,3.87c14.45,5.71,26.56,17.84,31.25,37.82h.13a8.2,8.2,0,0,1,8.18,8.18v29.5a8.2,8.2,0,0,1-8.18,8.18h-8.18V42.41C102.33,26,92.29,16,80.38,11.32A50,50,0,0,0,58,8.18a53.66,53.66,0,0,0-21.49,6.39C25.37,20.75,17.24,31,16.58,44.05a4,4,0,0,1-.22,1.15V87.55Z"
                /></svg
            ></span>
            <span class="title">HELP</span>
          </a>
        </li>
        <li>
          <a href="/setting-instructor">
            <span class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                id="Layer_1"
                data-name="Layer 1"
                viewBox="0 0 122.88 122.88"
              >
                <defs>
                  <style>
                    .cls-1 {
                      fill-rule: evenodd;
                    }
                  </style>
                </defs>
                <title>gear</title>
                <path
                  class="cls-1"
                  d="M73.48,15.84A46.87,46.87,0,0,1,84.87,21L91,14.84a7.6,7.6,0,0,1,10.72,0L108,21.15a7.6,7.6,0,0,1,0,10.72l-6.6,6.6a46.6,46.6,0,0,1,4.34,10.93h9.52A7.6,7.6,0,0,1,122.88,57V65.9a7.6,7.6,0,0,1-7.58,7.58h-9.61a46.83,46.83,0,0,1-4.37,10.81L108,91a7.6,7.6,0,0,1,0,10.72L101.73,108A7.61,7.61,0,0,1,91,108l-6.34-6.35a47.22,47.22,0,0,1-11.19,5v8.59a7.6,7.6,0,0,1-7.58,7.58H57a7.6,7.6,0,0,1-7.58-7.58v-7.76a47.39,47.39,0,0,1-12.35-4.68L31.87,108a7.62,7.62,0,0,1-10.72,0l-6.31-6.31a7.61,7.61,0,0,1,0-10.72l4.72-4.72A47.38,47.38,0,0,1,14,73.48H7.58A7.6,7.6,0,0,1,0,65.9V57A7.6,7.6,0,0,1,7.58,49.4h6.35a47.2,47.2,0,0,1,5.51-12.94l-4.6-4.59a7.62,7.62,0,0,1,0-10.72l6.31-6.31a7.6,7.6,0,0,1,10.72,0l5,5A46.6,46.6,0,0,1,49.4,15V7.58A7.6,7.6,0,0,1,57,0H65.9a7.6,7.6,0,0,1,7.58,7.58v8.26ZM59.86,36.68a24.6,24.6,0,1,1-24.6,24.59,24.59,24.59,0,0,1,24.6-24.59Z"
                />
              </svg>
            </span>
            <span class="title">SETTING</span>
          </a>
        </li>
        <li class="logout-li">
          <form action="/logout" method="post">
            <button
            class="logout-btn"
              style="
                background-color: #f0a500;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                border-style: none;
                margin-left: 19px;
                font-size: 20px;
              "
            >
              <span class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1"
                  id="Capa_1"
                  x="0px"
                  y="0px"
                  viewBox="0 0 384.971 384.971"
                  style="enable-background: new 0 0 384.971 384.971"
                  xml:space="preserve"
                >
                  <g>
                    <g id="Sign_Out">
                      <path
                        d="M180.455,360.91H24.061V24.061h156.394c6.641,0,12.03-5.39,12.03-12.03s-5.39-12.03-12.03-12.03H12.03    C5.39,0.001,0,5.39,0,12.031V372.94c0,6.641,5.39,12.03,12.03,12.03h168.424c6.641,0,12.03-5.39,12.03-12.03    C192.485,366.299,187.095,360.91,180.455,360.91z"
                      />
                      <path
                        d="M381.481,184.088l-83.009-84.2c-4.704-4.752-12.319-4.74-17.011,0c-4.704,4.74-4.704,12.439,0,17.179l62.558,63.46H96.279    c-6.641,0-12.03,5.438-12.03,12.151c0,6.713,5.39,12.151,12.03,12.151h247.74l-62.558,63.46c-4.704,4.752-4.704,12.439,0,17.179    c4.704,4.752,12.319,4.752,17.011,0l82.997-84.2C386.113,196.588,386.161,188.756,381.481,184.088z"
                      />
                    </g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </span>
              <span class="title">LOGOUT</span>
            </button>
          </form>
        </li>
      </ul>
    </div>
    <main>
      <div class="main-containr">
        <button class="announcment-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            width="256"
            height="256"
            viewBox="0 0 256 256"
            xml:space="preserve"
          >
            <desc>Created with Fabric.js 1.7.22</desc>
            <defs></defs>
            <g transform="translate(128 128) scale(0.72 0.72)" style="">
              <g
                style="
                  stroke: none;
                  stroke-width: 0;
                  stroke-dasharray: none;
                  stroke-linecap: butt;
                  stroke-linejoin: miter;
                  stroke-miterlimit: 10;
                  fill: none;
                  fill-rule: nonzero;
                  opacity: 1;
                "
                transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)"
              >
                <path
                  d="M 71.932 0 H 18.068 C 8.105 0 0 8.105 0 18.068 v 53.864 C 0 81.895 8.105 90 18.068 90 h 53.864 C 81.895 90 90 81.895 90 71.932 V 18.068 C 90 8.105 81.895 0 71.932 0 z M 65.454 50 H 50 v 15.454 c 0 2.762 -2.238 5 -5 5 c -2.761 0 -5 -2.238 -5 -5 V 50 H 24.545 c -2.761 0 -5 -2.238 -5 -5 c 0 -2.761 2.239 -5 5 -5 H 40 V 24.545 c 0 -2.761 2.239 -5 5 -5 c 2.762 0 5 2.239 5 5 V 40 h 15.454 c 2.762 0 5 2.239 5 5 C 70.454 47.762 68.216 50 65.454 50 z"
                  style="
                    stroke: none;
                    stroke-width: 1;
                    stroke-dasharray: none;
                    stroke-linecap: butt;
                    stroke-linejoin: miter;
                    stroke-miterlimit: 10;
                    fill: rgb(0, 0, 0);
                    fill-rule: nonzero;
                    opacity: 1;
                  "
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"
                />
              </g>
            </g>
          </svg>
          <a href="/add-exam">Add EXAM</a>
        </button>

        <button class="submitted-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            width="256"
            height="256"
            viewBox="0 0 256 256"
            xml:space="preserve"
          >
            <desc>Created with Fabric.js 1.7.22</desc>
            <defs></defs>
            <g transform="translate(128 128) scale(0.72 0.72)" style="">
              <g
                style="
                  stroke: none;
                  stroke-width: 0;
                  stroke-dasharray: none;
                  stroke-linecap: butt;
                  stroke-linejoin: miter;
                  stroke-miterlimit: 10;
                  fill: none;
                  fill-rule: nonzero;
                  opacity: 1;
                "
                transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)"
              >
                <path
                  d="M 85 0 H 5 C 2.239 0 0 2.239 0 5 v 80 c 0 2.762 2.239 5 5 5 h 80 c 2.762 0 5 -2.238 5 -5 V 5 C 90 2.239 87.762 0 85 0 z M 71.035 33.92 L 41.804 63.15 c -0.977 0.977 -2.256 1.465 -3.536 1.465 s -2.559 -0.488 -3.536 -1.465 L 18.964 47.383 c -1.953 -1.953 -1.953 -5.119 0 -7.071 c 1.953 -1.952 5.118 -1.952 7.071 0 l 12.233 12.232 l 25.696 -25.695 c 1.951 -1.952 5.119 -1.952 7.07 0 C 72.988 28.801 72.988 31.967 71.035 33.92 z"
                  style="
                    stroke: none;
                    stroke-width: 1;
                    stroke-dasharray: none;
                    stroke-linecap: butt;
                    stroke-linejoin: miter;
                    stroke-miterlimit: 10;
                    fill: rgb(0, 0, 0);
                    fill-rule: nonzero;
                    opacity: 1;
                  "
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"
                />
              </g>
            </g>
          </svg>
          <a href="#">Check Exams</a>
        </button>

        <button class="add-exam--btn" type="submit">
          <img src="/img/announcement.png" alt="" />
          <a href="/add-announcement">Add Announcement</a>
        </button>

        <button class="circular">
              <div class="circular-content">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 511.031 511.031" style="enable-background:new 0 0 511.031 511.031;" xml:space="preserve">
                  <g>
                        <path d="M479.804,389.848c-10.718-15.699-25.664-26.598-43.22-31.516c-0.213-0.06-0.428-0.11-0.646-0.151L361.652,344.3   l-24.997-33.11c1.32-1.506,2.622-3.045,3.899-4.63c22.02-27.328,34.649-63.492,34.649-99.218v-32.144   c23.486-74.5,14.799-137.362,7.176-154.688c-0.011-0.025-0.025-0.048-0.037-0.073c-0.067-0.149-0.142-0.292-0.218-0.435   c-0.043-0.081-0.084-0.164-0.13-0.243c-0.072-0.123-0.15-0.241-0.229-0.36c-0.061-0.093-0.121-0.188-0.186-0.277   c-0.067-0.092-0.14-0.179-0.211-0.268c-0.085-0.106-0.169-0.214-0.259-0.315c-0.059-0.066-0.123-0.128-0.185-0.193   c-0.108-0.112-0.215-0.225-0.329-0.33c-0.057-0.053-0.119-0.101-0.178-0.152c-0.123-0.106-0.246-0.212-0.375-0.31   c-0.068-0.052-0.141-0.098-0.211-0.148c-0.124-0.087-0.247-0.175-0.375-0.254c-0.094-0.058-0.192-0.109-0.289-0.163   c-0.109-0.061-0.217-0.125-0.329-0.18c-0.122-0.061-0.249-0.113-0.375-0.167c-0.092-0.039-0.182-0.082-0.276-0.118   c-0.141-0.054-0.285-0.098-0.429-0.144c-0.085-0.027-0.168-0.057-0.254-0.081c-0.141-0.039-0.285-0.068-0.428-0.099   c-0.096-0.021-0.19-0.044-0.287-0.061c-0.127-0.022-0.255-0.035-0.383-0.051c-0.119-0.014-0.238-0.031-0.358-0.039   c-0.105-0.007-0.212-0.008-0.318-0.011c-0.147-0.004-0.293-0.008-0.441-0.004c-0.088,0.003-0.176,0.011-0.264,0.017   c-0.165,0.011-0.33,0.024-0.495,0.046c-0.026,0.003-0.052,0.003-0.079,0.007c-20.146,2.878-44.476-2.007-70.233-7.179   c-43.089-8.653-87.614-17.569-122.302,7.311c-0.555-0.131-1.13-0.207-1.725-0.207c-35.433,0-60.18,29.402-60.18,71.5   c0,32.791,13.838,94.085,15.747,102.381v17.366c0,35.717,12.671,71.895,34.765,99.256c1.273,1.577,2.571,3.107,3.886,4.605   l-25.035,33.16l-74.286,13.882c-0.217,0.041-0.433,0.091-0.646,0.151c-17.557,4.918-32.502,15.817-43.22,31.516   c-9.809,14.368-15.211,31.708-15.211,48.825v43.841c0,15.724,14.131,28.516,31.5,28.516h416c17.369,0,31.5-12.792,31.5-28.516   v-43.841C495.015,421.556,489.613,404.217,479.804,389.848z M149.662,359.507l44.342,65.453   c-16.945-13.92-36.301-34.077-56.239-63.23L149.662,359.507z M255.515,380.319l-31.058-34.508   c10.074,3.437,20.522,5.22,31.137,5.22c10.54,0,20.912-1.758,30.914-5.148L255.515,380.319z M255.515,401.161l18.917,15.239   c-9.585,5.034-16.402,6.912-18.912,7.486c-2.546-0.581-9.358-2.463-18.922-7.486L255.515,401.161z M219.332,430.311l4.663-3.757   c17.899,10.501,29.918,12.323,30.46,12.401c0.352,0.05,0.706,0.075,1.061,0.075s0.709-0.025,1.061-0.075   c0.543-0.078,12.561-1.9,30.46-12.401l4.663,3.757c2.889,2.722,6.671,4.216,10.61,4.216c0.493,0,0.989-0.023,1.485-0.071   c0.322-0.031,0.635-0.094,0.952-0.144c-24.573,17.246-42.039,20.769-45.259,21.295l-3.972,0.649l-3.972-0.649   c-3.22-0.526-20.686-4.049-45.259-21.295c0.317,0.05,0.63,0.113,0.952,0.144c0.497,0.047,0.992,0.071,1.485,0.071   C212.66,434.527,216.443,433.033,219.332,430.311z M361.369,359.507l11.897,2.223c-19.939,29.153-39.295,49.311-56.241,63.231   L361.369,359.507z M302.738,419.306c-0.04,0.059-0.132,0.195-0.366,0.217c-0.24,0.021-0.351-0.095-0.401-0.144   c-0.189-0.19-0.389-0.369-0.598-0.537l-34.983-28.183l60.619-67.354l21.486,28.461L302.738,419.306z M303.515,168.031   c-14.809,0-27.733,8.196-34.495,20.286c-3.824-2.696-8.481-4.286-13.505-4.286c-5.024,0-9.681,1.59-13.505,4.286   c-6.761-12.09-19.686-20.286-34.495-20.286c-16.281,0-30.29,9.903-36.328,24h-20.194c2-27.934,16.563-62.395,21.582-73.561   c55.501-6.559,99.713-0.047,127.269,6.69c24.343,5.951,40.242,13.087,45.82,15.809l14.54,34.595v16.468h-20.361   C333.805,177.933,319.796,168.031,303.515,168.031z M328.015,207.531c0,13.509-10.991,24.5-24.5,24.5s-24.5-10.991-24.5-24.5   s10.991-24.5,24.5-24.5S328.015,194.021,328.015,207.531z M207.515,183.031c13.509,0,24.5,10.991,24.5,24.5s-10.991,24.5-24.5,24.5   s-24.5-10.991-24.5-24.5S194.006,183.031,207.515,183.031z M135.015,87.531c0-39.03,22.691-56.5,45.18-56.5   c0.777,0,1.526-0.118,2.231-0.337c2.229,0.683,4.74,0.327,6.737-1.19c29.551-22.447,71.52-14.021,112.105-5.87   c21.21,4.259,41.496,8.333,60.207,8.333c3.017,0,5.988-0.121,8.921-0.349c5.019,17.726,9.903,63.49-4.07,119.798l-7.897-18.79   c-0.653-1.555-1.812-2.844-3.288-3.659c-2.946-1.627-73.475-39.683-188.583-24.874c-0.015,0.002-0.03,0.006-0.045,0.008   c-0.164,0.022-0.326,0.055-0.488,0.088c-0.085,0.017-0.173,0.03-0.257,0.05c-0.124,0.03-0.246,0.07-0.369,0.106   c-0.117,0.034-0.235,0.064-0.349,0.103c-0.039,0.014-0.077,0.032-0.116,0.046c-0.549,0.201-1.062,0.464-1.538,0.778   c-0.797,0.524-1.5,1.204-2.06,2.023c-0.061,0.089-0.126,0.175-0.183,0.267c-0.05,0.08-0.093,0.166-0.14,0.248   c-0.079,0.138-0.158,0.275-0.228,0.417c-0.007,0.014-0.015,0.026-0.022,0.04c-0.636,1.316-10.175,21.226-17.281,45.173   C139.377,131.926,135.015,104.96,135.015,87.531z M150.762,207.278v-0.247h17.266c-0.002,0.167-0.013,0.332-0.013,0.5   c0,21.78,17.72,39.5,39.5,39.5s39.5-17.72,39.5-39.5c0-4.687,3.813-8.5,8.5-8.5c4.687,0,8.5,3.813,8.5,8.5   c0,21.78,17.72,39.5,39.5,39.5s39.5-17.72,39.5-39.5c0-0.168-0.011-0.333-0.013-0.5h17.202v0.311   c0,32.364-11.419,65.097-31.33,89.807c-20.204,25.074-46.229,38.882-73.28,38.882c-27.064,0-53.13-13.822-73.396-38.92   C162.22,272.369,150.762,239.626,150.762,207.278z M184.023,323.306l60.619,67.354l-34.983,28.183   c-0.209,0.168-0.409,0.347-0.598,0.537c-0.05,0.049-0.165,0.165-0.401,0.144c-0.234-0.022-0.327-0.159-0.367-0.217l-45.756-67.539   L184.023,323.306z M78.183,372.864l43.836-8.191c0.209,0.659,0.508,1.301,0.912,1.905c25.296,37.812,53.02,66.429,82.402,85.057   c22.912,14.525,39.311,18.043,43.791,18.776l5.182,0.847c0.4,0.065,0.805,0.098,1.209,0.098s0.809-0.033,1.209-0.098l5.182-0.847   c4.48-0.732,20.878-4.25,43.791-18.776c29.382-18.628,57.106-47.245,82.402-85.057c0.404-0.604,0.703-1.246,0.912-1.905   l43.836,8.191c7.728,2.208,14.535,5.791,20.401,10.328l-24.291,24.291c-13.504,13.504-20.942,31.459-20.942,50.558v37.99h-305   v-37.99c0-19.099-7.438-37.054-20.942-50.558l-24.291-24.291C63.649,378.654,70.456,375.072,78.183,372.864z M31.015,482.515   v-43.841c0-15.106,5.458-31.838,16.073-44.963l24.378,24.378c10.671,10.671,16.548,24.86,16.548,39.952v37.99h-40.5   C38.417,496.031,31.015,489.967,31.015,482.515z M480.015,482.515c0,7.452-7.402,13.516-16.5,13.516h-40.5v-37.99   c0-15.092,5.877-29.28,16.548-39.952l24.378-24.378c10.615,13.125,16.073,29.857,16.073,44.963V482.515z"/>
                        <path d="M207.515,223.031c8.547,0,15.5-6.953,15.5-15.5c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5c0,0.276-0.224,0.5-0.5,0.5   c-4.142,0-7.5,3.358-7.5,7.5S203.373,223.031,207.515,223.031z"/>
                        <path d="M296.015,215.531c0,4.142,3.358,7.5,7.5,7.5c8.547,0,15.5-6.953,15.5-15.5c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5   c0,0.276-0.224,0.5-0.5,0.5C299.373,208.031,296.015,211.389,296.015,215.531z"/>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  </svg>
              <h3><span><%= numOfStudent %> </span>STUDENTS</h3>
            </div>
      
      </button>
    </main>
  </body>
</html>
