<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam</title>
  </head>
  <body>
    <div class="header">
      <h3 class="timer">01:60:36</h3>
      <p class="coure-name">Introduction to didgital system</p>
    </div>
    <div class="questions">
      <form action="">
        <div class="">
          <p>Q1: what is the capital city of damascus?</p>
          <div class="answer">
            <img src="<%= image %>" />
            <p>damascus</p>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
