<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Account Settings UI Design</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/setting.css" />
  </head>
  <body>
    <section class="py-5 my-5">
      <div class="container" style="margin-top: -70px">
        <h1 class="mb-5" style="font-size: 30px">Account Settings</h1>
        <div class="bg-white shadow rounded-lg d-block d-sm-flex">
          <div class="profile-tab-nav border-right">
            <div class="p-4">
              <div class="img-circle text-center mb-3">
                <img
                  src="/img/studentImg/<%= userFind.image %>"
                  alt="Image"
                  class="shadow"
                />
              </div>
              <h4 class="text-center"><%= userFind.full_name %></h4>
            </div>
            <div
              class="nav flex-column nav-pills"
              id="v-pills-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <a
                class="nav-link"
                id="password-tab"
                data-toggle="pill"
                href="#password"
                role="tab"
                aria-controls="password"
                aria-selected="false"
              >
                <i class="fa fa-key text-center mr-1"></i>
                Password
              </a>

              <a
                class="nav-link"
                id="notification-tab"
                data-toggle="pill"
                href="#notification"
                role="tab"
                aria-controls="notification"
                aria-selected="false"
              >
                <i class="fa fa-bell text-center mr-1"></i>
                Change Image
              </a>
            </div>
          </div>
          <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="password"
              role="tabpanel"
              aria-labelledby="password-tab"
            >
              <form action="/setting" method="post">
                <h3 class="mb-4">Password Settings</h3>
                <h3 class="mb-4" style="color: red"><%= error %></h3>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Old password</label>
                      <input
                        type="password"
                        class="form-control"
                        name="old_password"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>New password</label>
                      <input
                        type="password"
                        class="form-control"
                        name="new_password"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Confirm new password</label>
                      <input
                        type="password"
                        class="form-control"
                        name="confirm_password"
                      />
                    </div>
                  </div>
                </div>
                <div>
                  <button class="btn btn-primary" style="margin-bottom: 16px">
                    Update
                  </button>
                </div>
              </form>
              <button class="btn btn-dark">
                <a href="/home" style="color: aliceblue">Cancel</a>
              </button>
            </div>

            <div
              class="tab-pane fade"
              id="notification"
              role="tabpanel"
              aria-labelledby="notification-tab"
            >
              <h3 class="mb-4">Image Settings</h3>
              <%= typeof msg != 'undefined' ? msg : '' %>
              <form
                action="/setting"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input name="myImage" type="file" />
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" />
                  </div>
                </div>
                <button
                  type="submit"
                  class="btn btn-primary"
                  style="margin-bottom: 12px"
                >
                  Update
                </button>
              </form>
              <div>
                <button class="btn btn-light">
                  <a href="/home" style="color: white; text-decoration: none"
                    >Cancel</a
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
